@media (max-width: 950px) {
  html {
    font-size: 56.25%;
  }

  .grid__col--2 {
    grid-template-columns: 1fr;
  }

  .section__hero {
    padding-top: 14rem;
  }
  .hero__details {
    max-width: 30%;
    margin: 0;
  }

  .hero__box--2 {
    column-gap: 4.8rem;
    grid-template-columns: 3fr 1fr;
  }
  .hero__description--text {
    margin-bottom: 3.2rem;
  }
  .heading__hero {
    color: red;
  }
}

@media (max-width: 800px) {
  .heading__cta {
    font-size: 6.4rem;
  }
  .process {
    grid-template-columns: 2fr 1fr;
    column-gap: 8.4rem;
  }
  .accordion {
    min-width: 40rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 50%;
  }

  .grid__col--3 {
    grid-template-columns: 1fr;
  }
  .help__card {
    width: 50%;
  }

  .process {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .header__work {
    flex-direction: column;
    align-items: start;
    margin-bottom: 2.4rem;
  }

  .accordion {
    min-width: 100%;
  }

  .grid__cta{
     grid-template-columns: 1fr;
     row-gap: 3.2rem;
  }
  .btn__cta{
     margin-left: 0;
     margin-right: auto;
  }

  .footer{
     flex-direction: column;
     gap: 2rem;
     padding-top: 3.4rem;
  }

  .header__work .heading__secondary{
     margin-bottom: 1rem;
  }
}
